@import helper._
@import formModels._
@import databaseModels.EnqueteDbData
@import databaseModels.AnswerDbData
@import databaseModels.CommentDbData
@import views.helper._

@(enquete: EnqueteDbData, answer: AnswerDbData, comments: List[CommentDbData])(commentForm: Form[commentData])(implicit messages: Messages)
@main(s"${enquete.title} | ${answer.author}") {
	@breadcrumbs(
		BreadCrumbsLink("Home", routes.EnqueteController.index()),
		BreadCrumbsLink(enquete.title, routes.EnqueteController.enquete(enquete.id)),
		BreadCrumbsLink(answer.author, routes.EnqueteController.answer(enquete.id, answer.id))
	)
	<h1>@enquete.title</h1>
	<div class="comment-box">
		<div class="author-view">@answer.author</div>
		<div class="comment-view">@answer.answer</div>
	</div>
	<h2>comments</h2>
	<ul class="list-style-none">
	@for(comment <- comments) {
		<div class="comment-box">
			<div class="author-view">@comment.author</div>
			<div class="comment-view">@comment.comment</div>
		</div>
	}
	</ul>
	<h2>comment</h2>
	@form(action = routes.EnqueteController.addComment(enquete.id, answer.id)) {
		@inputText(commentForm("comment"))
		<input type="submit" value="COMMENT">
	}
}
