@import helper._
@import databaseModels.EnqueteDbData
@import databaseModels.AnswerDbData
@import formModels._
@import views.helper._

@(enquete: EnqueteDbData, answers: List[AnswerDbData])(answerForm: Form[answerData])(implicit messages: Messages)
@main(enquete.title) {
    @breadcrumbs(
		BreadCrumbsLink("Home", routes.EnqueteController.index()),
		BreadCrumbsLink(enquete.title, routes.EnqueteController.enquete(enquete.id))
	)
	<h1>@enquete.title</h1>
	<p>author: @enquete.author</p>
	<p>@enquete.description</p>
	<h2>Answers</h2>
	<ul class="list-style-none simplelist-container">
	@for(answer <- answers) {
		<li class="simplelist-item">
            <a href="@routes.EnqueteController.answer(enquete.id, answer.id)">@answer.author</a>
        </li>
	}
	</ul>
	<h2>Answer</h2>
    @form(action = routes.EnqueteController.addAnswer(enquete.id)) {
        @inputText(answerForm("answer"))
        <input type="submit" value="ANSWER">
    }
}
