@import helper._
@import formModels._
@import databaseModels.EnqueteDbData
@(enquetes: List[EnqueteDbData])(enqueteForm: Form[enqueteData])(implicit messages: Messages)
@main("Enquete") {
    <h1>Enquete</h1>
    <a href="@routes.EnqueteController.index()">home</a> >
    <h2>new enquete</h2>
    <ul>
    @for(enquete <- enquetes) {
        <li><a href="@routes.EnqueteController.enquete(enquete.id)">@enquete.title</a></li>
    }
    </ul>
    <h3>create enqeute</h3>
    @form(action = routes.EnqueteController.addEnquete()) {
        @inputText(enqueteForm("title"))
        @inputText(enqueteForm("description"))
        <input type="submit" value="SUBMIT">
    }
}
