@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>@title</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="home-nav"><a href="@routes.EnqueteController.index()" class="header-nav-link">Enquete</a></div>
            <div class="signout-nav"><a href="@routes.AuthorizeController.signout()" class="header-nav-link">Signout</a></div>
        </div>
    </header>
    <div class="container">
        @content
    </div>
</body>
</html>
